<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplicationMVC.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light custom-navbar sticky-navbar mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <!-- Логотип слева -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ЛИНГВИН</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @if (ViewContext.RouteData.Values["action"]?.ToString() == "Index" && ViewContext.RouteData.Values["controller"]?.ToString() == "Home")
                {
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="center-menu">
                            <ul class="navbar-nav mx-auto">
                                @* <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Курсы</a>
                                    </li> *@
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#courses">Курсы</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#prices">Цены</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#contacts">Контакты</a>
                                </li>
                                @* @if (User.HasClaim(WebApplicationMVC.Models.Database.AppRole.Admin.ToString(), "true"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">ЛК админ</a>
                                    </li>
                                }   *@ 
                            </ul>
                        </div>

                        <!-- Телефон и Вход справа -->
                        <div class="right-actions d-flex align-items-center">
                            <a class="nav-link text-dark phone-number" href="tel:+71234567890">
                                <i class="bi bi-telephone me-2"></i>+7 (123) 456-78-90
                            </a>
                            @if (User.Identity?.IsAuthenticated ?? false)
                            {
                                @if (User.HasClaim(WebApplicationMVC.Models.Database.AppRole.Admin.ToString(), "true"))
                                {
                                    <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">@(User.Identity?.Name)</a>
                                }
                                else if (User.HasClaim(WebApplicationMVC.Models.Database.AppRole.Parent.ToString(), "true"))
                                {
                                    <a class="nav-link text-dark" asp-controller="Parent" asp-action="Index">@(User.Identity?.Name)</a>
                                }
                                else if (User.HasClaim(WebApplicationMVC.Models.Database.AppRole.Teacher.ToString(), "true"))
                                {
                                    <a class="nav-link text-dark" asp-controller="Teacher" asp-action="Index">@(User.Identity?.Name)</a>
                                }
                            }
                            else
                            {
                                <a class="btn btn-login" asp-controller="Auth" asp-action="Login">
                                    <i class="bi bi-box-arrow-in-right me-1"></i>Вход
                                </a>
                            }

                        </div>
                    </div>
                }
                else
                {

                }
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024, ЛИНГВИН
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
