@model List<WebApplicationMVC.ViewModels.Teachers.AttendanceFormModel>

@{
    ViewData["Title"] = "Редактирование посещаемости";
}

<h2>Редактирование посещаемости</h2>

<form asp-action="AddAtendances" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Студент</th>
                <th>Посещение</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model[i].Id" />
                        <input type="hidden" asp-for="@Model[i].StudentId" />
                        <input type="hidden" asp-for="@Model[i].LessonId" />
                        <input type="hidden" asp-for="@Model[i].StudentName" />
                        @Model[i].StudentName
                    </td>
                    <td>
                        <input type="checkbox" asp-for="@Model[i].IsVisited" checked="@(Model[i].IsVisited ? "checked" : null)" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
