@model WebApplicationMVC.ViewModels.Teachers.AddAttendanceFormModel

@{
    ViewData["Title"] = "Редактирование посещаемости";
}

<div class="d-flex align-items-center mb-4">
    <div class="me-3" style="margin-left: -60px;">
        <a asp-controller="Teacher" asp-action="MySchedule" class="text-decoration-none text-dark">
            <i class="bi bi-arrow-left fs-3"></i>
        </a>
    </div>
    <h2>Посещаемость</h2>
</div>
<div>
    <p><strong>Дата:</strong> @Model.Date.ToString("yyyy-MM-dd HH:mm")</p>
    <p><strong>Курс:</strong> @Model.CourseName</p>
    <p><strong>Группа:</strong> @Model.GroupName</p>
</div>


<form asp-action="AddAttendances" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Студент</th>
                <th>Посещение</th>
            </tr>
        </thead>
        <tbody>
            <input type="hidden" asp-for="@Model.LessonId" />
            <input type="hidden" asp-for="@Model.Date" />
            <input type="hidden" asp-for="@Model.CourseName" />
            <input type="hidden" asp-for="@Model.GroupName" />
            @for (int i = 0; i < Model.Attendances.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model.Attendances[i].Id" />
                        <input type="hidden" asp-for="@Model.Attendances[i].StudentId" />
                        <input type="hidden" asp-for="@Model.LessonId" />
                        <input type="hidden" asp-for="@Model.Attendances[i].StudentName" />
                        @Model.Attendances[i].StudentName
                    </td>
                    <td>
                        <input type="checkbox" asp-for="@Model.Attendances[i].IsVisited" checked="@(Model.Attendances[i].IsVisited ? "checked" : null)" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
<style>
    body{
        margin-top: 50px;
    }
</style>